examples/base_payload_to_a_file.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "233b459f4df391ed",
        "type": "dynamic-file",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "01a05358682bad65"
            ]
        ]
    },
    {
        "id": "24a48ffb583e0b70",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"dynamicFilePath\":{\"debug\":true}}",
        "payloadType": "json",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "233b459f4df391ed"
            ]
        ]
    },
    {
        "id": "01a05358682bad65",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 220,
        "wires": []
    }
]